body {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 10px 100px;
}

a {
    text-decoration: none;
}

.left-links {
    font-weight: bold;
    font-size: 24px;
}

.right-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.primary {
    color: #F9FAF8;
    font-family: 'Hero Main', Arial, Helvetica, sans-serif;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Hero Main', Arial, Helvetica, sans-serif;
}

.text-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Hero Main', Arial, Helvetica, sans-serif;
}

.content-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex: 1;
    margin: 0;
    padding: 100px 100px;
    background-color: #1f2937;
}

p {
    margin: 0;
    padding: 0;
}

.left-pane {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.right-pane {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    flex-direction: column;
    height: 300px;
}

button {
    padding: 8px 16px;
    background: #3882F6;
    border-radius: 4px;
    border: 1px #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.content-second {
    margin: 0;
    padding: 50px 100px 150px;
}

.content-box {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.subtitle {
    font-family: 'Hero Main', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

.boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.box {
    border: 2px solid #3882F6;
    border-radius: 10%;
    width: 180px;
    height: 180px;
}

.subtext{
    font-size: 18px;
    font-family: 'Hero Main', Arial, Helvetica, sans-serif;
    width: 180px;
    text-align: center;
}

.quote {
    margin: 0;
    padding: 200px 100px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.text-quote {
    font-size: 36px;
    color: #1f2937;
    width: 700px;
    font-family: 'Hero Main', Arial, Helvetica, sans-serif;
    font-weight: 800;
}